
/* GENERAL */
body{
    background-color: rgb(231, 122, 0);
}


/* UTILS */

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 6rem;
    width: 6rem;
    background-color: aquamarine;
    margin: 10px 0;
}